@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brown-color: #352C21;
  --teal-color: #5D8778;
  --goldDark-color: #ABA374;
  --goldMedium-color: #D9D3A4;
  --goldLight-color: #DAD6B5;
  --lightest-color: #F0EDDB;
}
html,
body {
  background:var(--lightest-color);
  color: #333;
  font-family: "Nunito";
}
* {
  
}
a {
  color: blue;
  text-decoration: underline;
}
section{
  max-width: 960px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
}




nav {
  height: 20px;
  width: 100%;
  background-color: #352C21;
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
  position: relative;
}
.logo {
  aspect-ratio: ;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: #f2f2f2;
    background: #1b1b1b;
  }
}
